body{
    background-color: aliceblue;
}
.center{
    width: 600px;
    margin: 0 auto;
}

thead{
    background-color: aqua;
}

td{
    border: 2px solid lightskyblue;
}

h1,h2{
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.bg {
    background-color: beige;
}
h2{
    color: rgb(105, 111, 220);
    font-weight: 900px;
}